<nav class="navbar bg-body-secondary">
    <div>
        <a class="navbar-brand" href="#">
            <img src="/assets/svg/logo-supplier.svg" alt="Bootstrap" height="36">
            Utilitários
        </a>
    </div>
</nav>
<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-6 p-2">
            <div>
                <app-cnpj-generator></app-cnpj-generator>
            </div>
            <br>
            <div>
                <app-nf-chave-acesso></app-nf-chave-acesso>
            </div>
        </div>
        <div class="col-6 p-2">
            <app-xml-generator></app-xml-generator>
        </div>
    </div>
</div>